*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
.header-Title-h1{
	text-align: center;
}
.header-nav{
	text-align: center;
}
.section-History{
	width: 100%;
	background-color: red;
}
.section-History-h1{
	text-align: center;
}
.section-History-p{
	text-align: center;
}
.section-History-img01{
	width: 45%;
	height: 35%;
}
.section-History-img02{
	width: 45%;
	height: 35%;
}
.section-PersonalRelationships{
	width: 100%;
	background-color: green;
}
.section-PersonalRelationships-h1{
	text-align: center;
}
.section-PersonalRelationships-p{
	text-align: center;
}
.section-PersonRelations1-img01{
	width: 45%;
	height: 35%;
}
.section-PersonRelations2-img02{
	width: 45%;
	height: 30%;
}
.section-FamilyRelationships{
	width: 100%;
	background-color: red;
}
.section-FamilyRelationships-h1{
	text-align: center;
}
.section-FamilyRelations-p{
	text-align: center;
}
.section-FamilyRelations1-img01{
	width: 45%;
}
.section-FamilyRelations2-img02{
	width: 45%;
}
.section-SocialRelationships{
	width: 100%;
	background-color: red;
}
.section-SocialRelationships-h1{
	text-align: center;
}
.section-SocialRelationships-p{
	text-align:center;
}
.section-SocialRelationships-img01{
	width: 45%;
}
.section-SocialRelationships-img02{
	width: 45%;
}
.section-InternationalRelationships{
	width: 100%;
	background-color: green;
}
.section-InternationalRelationships-h1{
	text-align: center;
}
.section-InternationalRelationships-p{
	text-align:center;
}
.section-InternationalRelationships-img01{
	width: 45%;
}
.section-InternationalRelationships-img02{
	width: 45%;
}


